body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.about {
  font-size: 20px;
}

.addRecipeBorder {
  margin: 30px;
  padding: 20px;
  border-style: solid;
  background-color: #e6e6e8;
}

.test {
  text-align: center;  
  display: flex;
  align-items: center;
  justify-content: center;
}


.app {
  margin: 0% 5% 0% 5%;
  text-align: center;
}

h1 {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 15px;
  font-weight: 900;
  text-align: left;
}

h4 {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

h5 {
  font-size: 15px;
  font-weight: 900;
  text-align: center;
}

.border {
  margin: 30px;
  padding: 20px;
  border-style: solid;
  background-color: #e6e6e8;
}

.divider {
  border-width: thin;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  border-color: lightgray;
  border-style: solid;
}

.addRecipe {
  text-align: center;
}

.header {
  font-size: 30px;
}

a {
  color: black;
  text-decoration: underline;
}

.center {
  text-align: center;
}

.background {
  background: white;
}

.ui.card,
.ui.cards > .card {
  background-color: #e0e1e2;
}

.scroll {
  overflow-y: auto;
  height: 40vh;
}